{#<!DOCTYPE html>#}
{##}
{#{% load staticfiles %}#}
{##}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>About</title>#}
{#</head>#}
{#<body>#}
{#    <h1>This tutorial has been put together by SUN YIFENG.</h1>#}
{#    <div>#}
{#        <img src="{{ MEDIA_URL }}cat.jpg" />#}
{#    </div>#}
{#    <div>#}
{#        <img src="{% static 'images/rango.jpg' %}"/>#}
{#    </div>#}
{#    <div>#}
{#        <a href="/rango/">Index</a><br/>#}
{#    </div>#}
{#</body>#}
{#</html>#}

{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add page
{% endblock %}

{% block body_block %}
    <h1>This tutorial has been put together by SUN YIFENG.</h1>
    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" />
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}"/>
    </div>
{% endblock %}